html{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}
*, *:before, *:after{
  box-sizing: inherit;
}

h2, h4, p{
  margin: 0;
}
body{
  padding: 20px;
}
#container{
  box-shadow: 1px -1px 32px -4px rgba(0,0,0,0.3);
  border-radius: 8px;
  overflow: hidden;
}
#top {
  width: 100%;
  height: 45%;
  background-color: white;
  padding: 40px;
}
#top h2{
  color: #2ab2af;
  margin-bottom: 25px;
}
#top h4{
  color: #c0df34;
  margin-bottom: 12px;
}
#top p{
  color: #aab1b5;
  line-height: 24px;
}

#bottom{
  width: 100%;
  height: 55%;
}

/* Bottom Left Section */
#left{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color: #2ab2af;
  padding: 40px;
}
#left h4{
  color: #e5eff5;
  margin-bottom: 15px;
  font-size: 17px;
}
.monthly-subscription p{
  display: inline-block;
}
.monthly-subscription{
}
#per-month{
  color: #e5eff5;
  vertical-align: middle;
  padding: 7px;
  opacity: .7;
}
#number{
  color: #e5eff5;
  font-weight: 700;
  font-size: 30px;
  vertical-align: middle;
  
}
#full-access{
  color: #e5eff5;
  margin-top: 7px;
}
#sign-up{
  background-color: #c0df34;
  color: white;
  border: none;
  margin-top: 32px;
  padding: 15px 0px;
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
  box-shadow: 1px -1px 32px -4px rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}
#sign-up:hover{
  background-color: #cee856;
  transform: scale(1.02);
}

/* Bottom Right Section */

#right{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  background-color: #2ec9c6;
  padding: 40px;
}

#right h4{
  color: #e5eff5;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px;
}
#right .para-list{
  color: #e5eff5;
  padding: 0px;
  font-weight: 300;
  opacity: .8;
  line-height: 20px;
  font-size: 13.7px;
}
@media (min-width: 695px){
  #container{
  width: 643px;
  height: 470px;
  }
  #left, #right{
    width: 50%;
  }
  
}
